<% if resource.errors.any? %>
  <div class="bg-red-50 border border-red-200 rounded-xl p-4 mb-6" data-turbo-cache="false">
    <p class="font-bold text-red-800 mb-1">Please fix these errors:</p>
    <ul class="text-red-700 text-sm list-disc list-inside">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
